<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="card-header text-white text-center bg-primary">
                            <strong>Rectificaci&oacute;n de Constancia de Control de Mercanc&iacute;a Nacionalizada - CCMN</strong>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row p-2">
                      <p-table #dt1 [value]="rptaListaCtrlCcmns.data" [paginator]="true" [rows]="10"
                        [showCurrentPageReport]="true" dataKey="correlativoCcmn"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        styleClass="p-datatable-sm" [rowHover]="true"
                        [globalFilterFields]="['numeroCcmn']"
                        [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="caption">
                          <div class="p-d-flex">
                            <span class="p-input-icon-left p-ml-auto">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" pKeyFilter="pnum" maxlength="21" (input)="dt1.filterGlobal($event.target, 'contains')" placeholder="Buscar ..." />
                            </span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 5%">ID</th>
                                <th style="width: 15%">Nro. de CCMN</th>
                                <th style="width: 15%">Fecha de Numeraci&oacute;n</th>
                                <th style="width: 10%">Estado</th>
                                <th style="width: 15%">Placa</th>
                                <th style="width: 15%">Placa carreta</th>
                                <th style="width: 10%">Flujo veh&iacute;culo</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                          <tr>
                            <td colspan = "10" class="text-center">No hay registros</td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ccmn let-rowIndex="rowIndex">
                            <tr>

                                <td>{{rowIndex + 1}}</td>
                                <!-- <td>
                                  <a (click) = "continuarRectificaCcmn(ccmn)" class="text-decoration-none">
                                    {{ccmn.numeroCcmn}}
                                  </a>
                                </td>  -->
                                <td><a [routerLink]="['../motivo']" (click)="continuarRectificaCcmn(ccmn)">{{ccmn.numeroCcmn}}</a></td>

                                <td>{{validarDateFormat(ccmn.auditoria?.fecRegis) | date:'dd/MM/yyyy h:mm a'}}</td>
                                <td>{{ccmn.estado?.desDataCat}}</td>
                                <td>{{ccmn.paisPlaca?.codDatacat}} - {{ccmn.nomPlaca}}</td>
                                <td>{{ccmn.paisPlacaCarreta?.codDatacat}}  - {{ccmn.nomPlacaCarreta}}</td>
                                <td>
                                 <app-icon-flujo-vehiculo [codFlujoVehiculo]="ccmn.flujoVehiculo?.codDatacat"> </app-icon-flujo-vehiculo>
                                </td>
                            </tr>
                        </ng-template>

                      </p-table>
                    </div>
                    <div class="row top-buffer justify-content-center" >
                      <div class="col-2">
                        <button type="button" id="btnCancelar" class="btn btn-primary btn-block"
                              (click)="irPageBusquedaInicial()">
                          <i class="bi bi-x-square-fill"></i>
                          &nbsp;Cancelar
                        </button>
                      </div>
                    </div>
                  </div>

              </div>
        </div>
    </div>
  </div>

  <p-toast position="top-right" key="msj"></p-toast>
