<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            <div class="card p-1">
                <div class="row">
                    <div class="col">
                        <div class="card-header text-white text-center bg-primary">
                            <strong>
                              Rectificaci&oacute;n de Constancia de Control de Mercanc&iacute;a Nacionalizada - CCMN
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                  <div class="col">
                    <form id="consultaRectiCcmnForm" [formGroup]="consultaRectiCcmnForm" name="consultaRectiCcmnForm">
                      <fieldset class="form-group scheduler-border" >
                        <div class="row top-buffer" >
                            <div class="col-sm-3">
                              <label class="col-form-label">Placa de veh&iacute;culo:</label>
                            </div>
                            <!-- <div class="col-sm-4">
                                <p-dropdown [filter]="true"  inputId="paisPlaca" [options]="catalogoPais" formControlName="codPaisPlaca" placeholder="Seleccionar  "
                                optionLabel="desDataCat"  optionValue="codDatacat" [style] = "{'width':'100%'}">
                                  <ng-template let-item pTemplate="selectedItem">
                                    <div>{{item?.codDatacat}}-{{item?.desDataCat}}</div>
                                  </ng-template>
                                  <ng-template let-pais pTemplate="item">
                                    <div>{{pais?.codDatacat}}-{{pais?.desDataCat}}</div>
                                  </ng-template>
                              </p-dropdown>
                            </div> -->
                            <div class="col-sm-4">
                              <p-dropdown [filter]="true"   inputId="paisPlaca" [options]="lstPaisVehiculo" formControlName="codPaisPlaca" placeholder="Seleccionar"
                                optionLabel="descripcion" optionValue="codigo" [style]="{'width':'100%'}" ></p-dropdown>
                            </div>
                            <div class="col-sm-5">
                              <input type="text" class="form-control" id="txtNumeroPlaca"
                              formControlName="numeroPlaca" pKeyFilter="alphanum"
                               placeholder="N&uacute;mero de Placa" maxlength="8" />
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-sm-3 field-radiobutton">
                              <p-radioButton (onClick)="onRadioChange()" name="tipoBusqueda" value="1" label="N&uacute;mero de Documento:" formControlName="tipoBusqueda" ></p-radioButton>
                            </div>
                            <div class="col-sm-2">
                              <p-dropdown inputId="codAduanaDocumento" [options]="lstAduanaDocumento"  [(ngModel)]="aduanaFuncionario" formControlName="codAduanaDocumento" placeholder="Seleccionar"
                                optionLabel="descripcion" optionValue="codigo" (onChange)="cargarPuestoControl(aduanaFuncionario)" [style]="{'width':'100%'}"></p-dropdown>
                            </div>
                            <!-- <div class="col-sm-2">
                              <p-dropdown inputId="codAduanaDocumento" [options]="catalogoAduanas" formControlName="codAduanaDocumento" placeholder="Seleccionar"
                                  optionLabel="desDataCat"  optionValue="codDatacat"  [style] = "{'width':'100%'}">
                                    <ng-template let-item pTemplate="selectedItem">
                                      <div>{{item?.codDatacat}}-{{item?.desDataCat}}</div>
                                    </ng-template>
                                  <ng-template let-aduana pTemplate="item">
                                    <div>{{aduana?.codDatacat}}-{{aduana?.desDataCat}}</div>
                                  </ng-template>
                              </p-dropdown>
                            </div> -->

                            <div class="col-sm-2">
                              <p-dropdown inputId="puestoControl"  [options]="lstPuestoControl" [(ngModel)]="puestoControlFuncionario" formControlName="puestoControl" placeholder="Seleccionar"
                              optionLabel="descripcion" optionValue="codigo" [style]="{'width':'100%'}"></p-dropdown>
                            </div>
                            <!-- <div class="col-sm-2">
                                <select id="selPuestoControl" name="selPuestoControl" class="form-control form-select"
                                [ngClass]="{'is-invalid': frmCtrlPuestoControl.errors?.required}"
                                formControlName="puestoControl" >
                                  <option *ngFor="let optPuestoControl of rptaPuestoControl?.data"
                                      [value]="optPuestoControl.codigo" >
                                      {{optPuestoControl.codigo + " - " + optPuestoControl.descripcion}}
                                  </option>
                                </select>
                            </div> -->

                            <div class="col-sm-2">
                              <input type="text" class="form-control" id="txtAnoDocumento" formControlName="anoDocumento" (blur)="validarAnioDocumento()"
                              pKeyFilter="pint" placeholder="Año" maxlength="4">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control" id="txtNumeroDocumento" formControlName="numeroDocumento"
                              pKeyFilter="pint" placeholder="N&uacute;mero" [maxLength]="maxLengthNumDoc">
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-sm-3 field-radiobutton">
                              <p-radioButton (onClick)="onRadioChange()" name="tipoBusqueda" value="2" formControlName="tipoBusqueda" label="DAM:" ></p-radioButton>
                            </div>
                            <div class="col-sm-2">
                              <p-dropdown inputId="codAduanaDAM" [options]="lstAduanaDocumento2" formControlName="codAduanaDAM" placeholder="Seleccionar"
                                optionLabel="descripcion" optionValue="codigo"  [style]="{'width':'100%'}"></p-dropdown>
                            </div>
                            <!-- <div class="col-sm-2">
                              <p-dropdown inputId="codAduanaDAM" [options]="catalogoAduanas"   formControlName="codAduanaDAM" placeholder="Seleccionar"
                                 optionLabel="desDataCat"  optionValue="codDatacat" [style] = "{'width':'100%'}">
                                   <ng-template let-item pTemplate="selectedItem">
                                    <div>{{item?.codDatacat}}-{{item?.desDataCat}}</div>
                                  </ng-template>
                                 <ng-template let-aduana pTemplate="item">
                                  <div>{{aduana?.codDatacat}}-{{aduana?.desDataCat}}</div>
                                </ng-template>
                              </p-dropdown>
                            </div> -->
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtAnoDAM" formControlName="anoDAM" (blur)="validarAnioDeclaracion()" pKeyFilter="pint" placeholder="Año" maxlength="4">
                              </div>
                            <div class="col-sm-3">
                                <p-dropdown   inputId="codRegimen" [options]="catalogoRegimen" formControlName="codRegimen" placeholder="Seleccionar"
                                    [showClear]="true" optionLabel="desDataCat" optionValue="codDatacat" [style] = "{'width':'100%'}" >
                                    <ng-template let-item pTemplate="selectedItem">
                                      <div>{{item?.codDatacat}}-{{item?.desDataCat}}</div>
                                    </ng-template>
                                  <ng-template let-regimen pTemplate="item">
                                    <div>{{regimen?.codDatacat}}-{{regimen?.desDataCat}}</div>
                                  </ng-template>
                               </p-dropdown>
                            </div>
                            <div class="col-sm-2">
                              <input type="text" class="form-control" id="txtNumeroDAM" formControlName="numeroDAM" pKeyFilter="pint" placeholder="N&uacute;mero" maxlength="6">
                            </div>
                          </div>

                          <div class="row top-buffer">
                            <div class="col-sm-3">
                              <label class="col-form-label">RUC Remitente:</label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtNumeroRucRemitente" formControlName="numeroRucRemitente"
                                pKeyFilter="pint" placeholder="N&uacute;mero de RUC" maxlength="11" >
                            </div>
                            <div class="col-sm-5">
                              <input type="text" class="form-control" readonly placeholder="Raz&oacute;n Social" formControlName="descRazonSocialRemitente"/>
                            </div>
                          </div>
                        <div class="row top-buffer">
                            <div class="col-sm-3">
                              <label class="col-form-label">Conductor:</label>
                            </div>

                          <div class="col-sm-3">
                            <select id="selTipoDocIdentidad" name="selTipoDocIdentidad"
                                  class="form-control form-select" formControlName="tipoDocIdentidad" >
                              <ng-container *ngFor="let tipoDoc of catalogoTiposDocIdentidad">
                                <ng-container *ngIf="tipoDoc.codDatacat!='4'">
                                  <option value="{{tipoDoc.codDatacat}}">{{tipoDoc.desDataCat}}</option>
                                </ng-container>
                              </ng-container>
                            </select>
                          </div>

                          <div class="col-2">
                            <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="txtNumDocResponsable"
                              [ngClass]="{'is-invalid': frmCtrlNumDocIdentidadConductor.invalid}"
                              name="txtNumDocResponsable"
                              placeholder="N&uacute;mero de Documento" formControlName="numDocIdentidad"
                              [maxlength]="maxlengthNumDocConductor"
                              (blur)="onBlurValidarRUC()">
                            <div
                                *ngIf="frmCtrlNumDocIdentidadConductor.invalid"
                                class="invalid-feedback">
                                Ingrese el documento de identidad
                            </div>
                          </div>

                          <div class="col-3">
                            <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="txtNombreConductor"
                              name="txtNombreConductor" maxlength="50"
                              [ngClass]="{'is-invalid': frmCtrlNombreApellidoConductor.invalid}"
                               placeholder="Nombres" formControlName="nombreApellidoConductor" [readonly]="esDniConductor"
                              >
                            <div
                                *ngIf="frmCtrlNombreApellidoConductor.invalid"
                                class="invalid-feedback">
                                Debe ingresar el nombre
                            </div>
                          </div>
                       </div>
                       <div class="row top-buffer">
                        <div class="col-sm-4 field-radiobutton">
                          <p-radioButton (onClick)="onRadioChange()" name="tipoBusqueda" value="3" formControlName="tipoBusqueda" label="Fecha de Registro:"></p-radioButton>
                         </div>
                        <div class="col-sm-4">
                          <p-calendar formControlName="fechaInicio" [style] = "{'height':'50px'}"
                          dateFormat="dd/mm/yy" [maxDate]="date" [showIcon]="true" inputId="icon" [attr.disabled]="true" ></p-calendar>
                        </div>
                        <div class="col-sm-4">
                          <p-calendar formControlName="fechaFin"  [style]="{'height':'50px'}"

                          dateFormat="dd/mm/yy" [maxDate]="date" [showIcon]="true" inputId="icon" [attr.disabled]="true"  ></p-calendar>
                        </div>
                      </div>
                       <br>
                        <!--Botones-->
                        <div class="row top-buffer justify-content-center">
                            <div class="col-sm-2">
                                <button type="button" id="btnLimpiar" class="btn btn-primary btn-block" (click)="limpiar()">
                                  &nbsp;Limpiar
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" id="btnConsultar" class="btn btn-primary btn-block"
                                  [disabled]="loadingConsultar"
                                  (click)="consultar()" >
                                  <span class="spinner-border spinner-border-sm"
                                    *ngIf="loadingConsultar"
                                    role="status" aria-hidden="true"></span>
                                    <i class="bi bi-plus-square-fill"></i>
                                  &nbsp;Buscar
                               </button>
                              </div>
                          </div>

                    </fieldset>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>

  <p-toast position="top-right" key="msj"></p-toast>
